body 
{
  background: #f3e3e3 ;
  background-image: url('static/images/bgtest6.png');
  color: #333333;
  margin-top: 4rem;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  display: none;
}

h1, h2, h3, h4, h5, h6 
{
  color: #444444;
}

ul 
{
  margin: 0;
}

.bg-steel 
{
  background-color: #d45f63;
}

.site-header .navbar-nav .nav-link 
{
  color: #faefef;
}

.site-header .navbar-nav .nav-link:hover 
{
  color: #e9a1a1;
}

.site-header .navbar-nav .nav-link.active 
{
  font-weight: 500;
}

.content-section 
{
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 5px;
}

.article-title 
{
  color: #444444;
}

a.article-title:hover 
{
  color: #428bca;
  text-decoration: none;
}

.article-content 
{
  white-space: pre-line;
}

.article-img 
{
  height: auto;
  width: auto;
  max-width: 100%;
  margin-right: 1px;
}

.account-img 
{
  height: auto; 
  width: auto;  
  max-width: 100%; 
  margin-right: 2px;
  margin-bottom: 1px;
}

.article-metadata 
{
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover 
{
  color: #333;
  text-decoration: none;
}

.article-svg 
{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img 
{
  height: 125px;
  width: 125px;
  margin-right: 2px;
  margin-bottom: 1px;
}

.account-heading 
{
  font-size: 2.5rem;
}

.button-at-bottom 
{
  position: absolute;
  bottom: auto;
  left: auto; 
}

.home-page-content
{
  margin-top: 10%;
  max-width: 600%;
}

.home-page-content h1{
  font-size: 60px;
}

.home-page-content p{
  margin: 10px 0 30px;
  animation-delay: 0.5s;
  font-size:20px;

}

.home-page-content .btn{
  animation-delay: 1s ;
}

.anim{
  opacity:0;
  transform:translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
  100%{
    opacity: 1;
    transform:translateY(0px);
  }
}

.button-at-bottom {
    position: fixed;
    bottom: 90px;
    right: 550px;
}


#form button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}



