{% extends "bank/base.html" %}
{% block content %}
    <h1>Welcome!</h1>
    <p>
        In our commitment to making a positive impact on 
        saving lives through the effective management of 
        the critical blood resource, we proudly introduce 
        this website. It provides access to vital information 
        about blood donors and recipients, as well as a 
        comprehensive directory of the city's blood banks.
    </p>

    <h4>
       Join Us in Saving Lives
    </h4>
    
    <div style="margin-bottom: 100px;"></div>
    
    <h5>Meet our Team</h2>
    <p style="margin-bottom: 5px;">Aditi Kharel, 077BEI008</p>
    <p style="margin-bottom: 5px;">Asmita Sigdel, 077BEI013</p>
    <p style="margin-bottom: 5px;">Aviyanshu Adhikari, 077BEI014</p>
    <footer>
        <p>&copy; 2023 Blood Bank Management System</p>
    </footer>

    
{% endblock content %}

