{% extends "bank/base.html" %}
{% block content %}
    <br>

    
    <!-- <style>
        body
        { 
            background-image: url('static/images/Background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 75%;
            opacity: 0.65; 
        }
     </style> 
     -->
    <div>
        
        <img src="static/images/Background.jpg" height="350px" width = 1200>
       
    </div> 
    <!-- <div>
        <h1>At the Heart of Humanity, We Stand Together</h1>
    </div>  -->
    <br>
    
{% endblock content %}


