{% extends "bank/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        body
        { 
            background-image: url('static/images/Background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            opacity: 0.65; 
        }
        .button-at-bottom {
            position: fixed;
            bottom: 90px;
            right: 550px;
        }
    </style> 
    <div class = "button-at-bottom">
        <a class ="btn btn-outline-info" href="/events/">Blood Donation Events</a>
    </div>
    <br>
{% endblock content %}



